* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
*:focus{
  outline: none;
}
body {
  width: 100%;
  min-height: 20vh;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #191919;
  position: relative;
}
header {
  position: relative;
  width: 100%;
  min-height: 15vh;
}
.light-source {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      circle farthest-corner at top right,
      #e8e8e8,
      transparent 50%
    )
    no-repeat;
  opacity: 0.15;
  animation: fade-in-low 4s ease-out;
  z-index: -1;
}

nav {
  width: 80%;
  height: 15vh;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0px 2.5%;
  background-color: #e8e8e811;
  position: relative;
  z-index: 2;
}

.logo-container {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: start;
  z-index: 1;
  flex: 2;
}
nav ul {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 3;
  list-style: none;
}
.nav-link {
  position: relative;
  text-decoration: none;
  color: #e8e8e8;
  font-size: 16px;
  padding-bottom: 6px;
  margin: 0px 16px;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 0px;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #fc6c67, #ff7433);
  border-image-slice: 1;
  width: 0%;
  height: 100%;
  transition: 0.2s ease-in-out;
}
.nav-link:hover::after {
  width: 100%;
}
#profile-button {
  background: linear-gradient(to right, #fc6c67, #ff7433);
  padding: 16px 32px;
  border-radius: 20px;
  width: 20%;
  transition: 0.2s ease-in-out;
  box-shadow: 0 20px 30px -15px rgba(0, 0, 0, 0.5),
    0 40px 40px -20px rgba(0, 0, 0, 0.4), 0 70px 50px -30px rgba(0, 0, 0, 0.3),
    0 10px 60px -5px #fc6c6777;
  font-weight: bolder;
}
#profile-button:hover {
  filter: brightness(70%);
}
#profile-button::after {
  content: "";
  display: none;
}
#logo {
  width: 175px;
}
#chk-2 {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 7.5%;
  top: 33.3%;
  opacity: 0;
  z-index: 4;
  display: none;
  cursor: pointer;
}
#hambrguer-icon {
  position: absolute;
  right: 7.5%;
  top: 33.3%;
  width: 30px;
  display: none;
  transition: 0.2s ease-in-out;
}
#chk-2:hover ~ #hambrguer-icon {
  filter: brightness(70%);
}
.hambrguer-menu {
  position: absolute;
  right: 15%;
  top: 66.6%;
  width: 70%;
  height: 50vh;
  opacity: 0;
  display: none;
  background: linear-gradient(45deg, #fc6c67, #ff7433);
  z-index: 2;
  transition: 0.2s ease-in-out;
  pointer-events: none;
  border-radius: 20px;
  clip-path: circle(0% at 100% 0%);
}
#chk-2:checked ~ .hambrguer-menu {
  opacity: 1;
  pointer-events: all;
  clip-path: circle(150% at 100% 0%);
}
.hambrguer-menu ul {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 2;
  list-style: none;
}

.sect {
  width: 100%;
  min-height: 10vh;
  padding: 5%;
}
.profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #191919;
  box-shadow: 0 20px 30px -15px rgba(0, 0, 0, 0.5),
    0 40px 40px -20px rgba(0, 0, 0, 0.4), 0 70px 50px -30px rgba(0, 0, 0, 0.3),
    0 40px 60px -5px #19191977;
  animation: fade-in 4s ease-out;
}
.profile-pic img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
}
.info-card {
  width: 60%;
  margin: 2.5% auto;
  background: #191919;
  box-shadow: 0 20px 30px -15px rgba(0, 0, 0, 0.5),
    0 40px 40px -20px rgba(0, 0, 0, 0.4), 0 70px 50px -30px rgba(0, 0, 0, 0.3),
    0 40px 60px -5px #19191977;
  border-radius: 20px;
  position: relative;
}
.content {
  width: 100%;
  max-height: 20vh;
  transition: 0.3s ease-in-out;
  position: absloute;
  left: 0;
  top: 0;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 2.5% 5% 5% 5%;
}
.content:focus {
  max-height: 100vh;
}
.info-card h1 {
  width: 100%;
  height: 10vh;
  text-align: center;
  color: #e8e8e8;
  font-weight: bolder;
  font-size: 28px;
  cursor: pointer;
  justify-self: center;
  display:flex;
  align-items:center;
  justify-content:center;
}
svg{
  transition:.3s ease-in-out;
  margin-bottom:2.5%
}
#t-arr, #d-arr{
  animation:arrows-bg-anim 2s infinite forwards;
  justify-self:center;
}
#d-arr{
  fill:#e8e8e8;
  animation-delay:.25s;
}
.content:focus > svg{
  transform: rotate(180deg);
  opacity:0.5;
}
.info-card p {
  text-align: left;
  color: #e8e8e8;
  font-size: 20px;
  justify-self: left;
  margin: 2% 0;
  width: 80%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in 0s;
}

.content:focus p {
  opacity: 1;
  transition: opacity 0.2s ease-out 0.3s;
  pointer-events: all;
}
.info-card p span {
  color: transparent;
  background: linear-gradient(to right, #fc6c67, #ff7433);
  background-clip: text;
  -webkit-background-clip: text;
  justify-self: left;
  font-weight: bolder;
  border-radius: 20px;
}
.view-more-opt {
  text-decoration: underline;
  color: #5182d1;
  cursor: pointer;
  font-weight: bold;
  padding: 2px;
  border-radius: 20px;
  transition: 0.1s ease-in-out;
}
.view-more-opt:hover {
  color: #5182d1d0;
}

.content ol{
  display: flex;
  justify-content: space-evenly;
  list-style-image: linear-gradient(to right, #fc6c67, #ff7433);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in 0s;
}
.content:focus ol {
  opacity: 1;
  transition: opacity 0.2s ease-out 0.3s;
  pointer-events: all;
}
ol li{
  margin: 10%;
}
ol li a{
  font-size: 20px;
  color: #e8e8e8;
}
footer {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e811;
  color: #e8e8e8;
  font-size: 18px;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #191919;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #fc6c67, #ff7433);
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #fc6c67, #ff7433);
}
@keyframes fade-in{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in-low {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.15;
  }
}
@keyframes arrows-bg-anim {
  0% {
    fill: #ff7433;
  }
  50%{
    fill: #e8e8e8;
  }
  100% {
    fill: #fc6c67;
  }
}
@media only screen and (max-width: 1024px) and (min-height: 1200px) {
  .nav-link {
    font-size: 32px;
    border-bottom: 2px solid #e8e8e8;
  }
  #hambrguer-icon {
    width: 60px;
  }
  #chk-2 {
    width: 60px;
    height: 60px;
  }
  .hambrguer-menu {
    width: 60%;
  }
}
@media only screen and (max-width: 1024px) {
  nav {
    height: 12.5vh;
  }
  .nav-link {
    border-bottom: 2px solid #e8e8e8;
  }
  #hambrguer-icon {
    display: block;
  }
  #chk-2 {
    display: block;
  }
  nav ul {
    display: none;
  }
  .hambrguer-menu {
    display: block;
  }
  footer {
    font-size: 22px;
  }
}
@media only screen and (max-width: 900px) and (min-height: 900px) {
  .nav-link {
    font-size: 24px;
  }
  #hambrguer-icon {
    top: 33.3%;
    width: 40px;
  }
  #chk-2 {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 760px) {
  footer {
    font-size: 18px;
  }
}
@media only screen and (max-width: 660px) {
  #logo {
    width: 125px;
    margin-left: 5%;
  }
  footer {
    font-size: 14px;
  }
  #hambrguer-icon {
    width: 30px;
  }
  #chk-2 {
    display: block;
  }
  nav {
    width: 100%;
  }
  nav ul {
    display: none;
  }
  .hambrguer-menu {
    width: 70%;
  }
  .nav-link {
    border-bottom: 2px solid #e8e8e8;
    font-size: 18px;
  }
  .profile-pic{
    height: 250px;
    width: 250px;
  }
  .profile-pic img{
    height: 250px;
    width: 250px;
  }
  .info-card {
    width: 95%;
  }
  .info-card  h1{
    font-size: 24px;
  }
  .info-card p, ol li a{
    font-size: 16px;
    margin:3% 0;
  }
  .info-card p{
    width: 90%;
  }
  .info-card p span {
    font-size: 18px;
  }
  .view-more-opt {
    font-size: 14px;
  }
}
