* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #191919;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.msg-container {
  width: 60%;
  min-height: 40vh;
  background-color: #fc6b67;
  color: #e8e8e8;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 20px 30px -15px rgba(0, 0, 0, 0.5),
    0 40px 40px -20px rgba(0, 0, 0, 0.4), 0 70px 50px -30px rgba(0, 0, 0, 0.3),
    0 40px 60px -5px #19191999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.msg-container h1 {
  width: 100%;
  padding: 7.5% 2.5% 0px 2.5%;
}

.msg-container p {
  padding: 5% 2.5%;
  font-size: 18px;
}

a {
  color: #e8e8e8;
}

a:hover {
  color: #e8e8e8d0;
}
#logo {
  margin: 18px;
  width: 250px;
  height: 250px;
  filter: drop-shadow(2px 10px 9px #fc6c67f3);
}

@media only screen and (max-width: 1024px) {
  .msg-container {
    width: 90%;
    min-height: 20vh;
  }
  .msg-container h1 {
    font-size: 32px;
  }

  .msg-container p {
    font-size: 24px;
  }
}

@media only screen and (max-width: 800px) {
  .msg-container {
    min-height: 25vh;
  }
  .msg-container h1 {
    font-size: 24px;
  }

  .msg-container p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .msg-container {
    width: 90%;
    min-height: 30vh;
  }
  #logo {
    width: 150px;
    height: 150px;
  }
  .msg-container h1 {
    font-size: 20px;
  }

  .msg-container p {
    font-size: 16px;
  }
}
