* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #191919;
  position: relative;
}
header {
  position: relative;
  width: 100%;
  min-height: 15vh;
}
.light-source {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      circle farthest-corner at top right,
      #e8e8e8,
      transparent 50%
    )
    no-repeat;
  opacity: 0.15;
  animation: fade-in-low 4s ease-out;
  z-index: -1;
}

nav {
  width: 80%;
  height: 15vh;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0px 2.5%;
  background-color: #e8e8e811;
  z-index: 2;
  position: relative;
}

.logo-container {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: start;
  z-index: 1;
  flex: 2;
}
nav ul {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 5;
  list-style: none;
}
.nav-link {
  position: relative;
  text-decoration: none;
  color: #e8e8e8;
  font-size: 16px;
  padding-bottom: 6px;
  margin: 0px 16px;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 0px;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #fc6c67, #ff7433);
  border-image-slice: 1;
  width: 0%;
  height: 100%;
  transition: 0.2s ease-in-out;
}
.nav-link:hover::after {
  width: 100%;
}
#profile-button {
  background: linear-gradient(to right, #fc6c67, #ff7433);
  padding: 16px 32px;
  border-radius: 20px;
  width: 20%;
  transition: 0.2s ease-in-out;
  box-shadow: 0 20px 30px -15px rgba(0, 0, 0, 0.5),
    0 40px 40px -20px rgba(0, 0, 0, 0.4), 0 70px 50px -30px rgba(0, 0, 0, 0.3),
    0 10px 60px -5px #fc6c6777;
  font-weight: bolder;
}
#profile-button:hover {
  filter: brightness(70%);
}
#profile-button::after {
  content: "";
  display: none;
}
#logo {
  width: 175px;
}
#chk-2 {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 7.5%;
  top: 33.3%;
  opacity: 0;
  z-index: 4;
  display: none;
  cursor: pointer;
}
#hambrguer-icon {
  position: absolute;
  right: 7.5%;
  top: 33.3%;
  width: 30px;
  display: none;
  transition: 0.2s ease-in-out;
}
#chk-2:hover ~ #hambrguer-icon {
  filter: brightness(70%);
}
.hambrguer-menu {
  position: absolute;
  right: 15%;
  top: 66.6%;
  width: 70%;
  height: 50vh;
  opacity: 0;
  display: none;
  background: linear-gradient(45deg, #fc6c67, #ff7433);
  z-index: 2;
  transition: 0.2s ease-in-out;
  pointer-events: none;
  border-radius: 20px;
  clip-path: circle(0% at 100% 0%);
}
#chk-2:checked ~ .hambrguer-menu {
  opacity: 1;
  pointer-events: all;
  clip-path: circle(150% at 100% 0%);
}
.hambrguer-menu ul {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 2;
  list-style: none;
}
main {
  min-height: 100vh;
  width: 100%;
}
.members-sect {
  min-height: 50vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  column-gap: 5%;
  padding: 0px 10% 0px 10%;
}
.members-sect-title {
  color: transparent;
  background: linear-gradient(to right, #fc6c67, #ff7433);
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: bolder;
  margin: 2.5% auto;
  font-size: 32px;
  border: 0px;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, #fc6c67, #ff7433);
  border-image-slice: 1;
  padding-bottom: 6px;
  border-radius: 10px;
  width: 70%;
  text-align: center;
}
.card {
  margin: 5%;
  width: 300px;
  height: 400px;
  background-color: #19191911;
  transition: 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: grayscale(1);
  position: relative;
  box-shadow: 0 20px 30px -15px rgba(0, 0, 0, 0.5),
    0 40px 40px -20px rgba(0, 0, 0, 0.4), 0 70px 50px -30px rgba(0, 0, 0, 0.3),
    0 40px 60px -5px #19191977;
  transform-origin: center;
  animation: fade-in 2s ease-in-out;
}

.card:hover {
  background-color: #191919;
  filter: grayscale(0);
  transform: scale(1.03);
}
.card-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(-135deg, #e8e8e822, transparent);
  opacity: 0;
  transition: 0.2s ease-in-out;
  padding: 16px;
}
.card:hover > .card-mask {
  opacity: 1;
}
.more-info-icon {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 10%;
  height: 10%;
  opacity: 0;
  transition: 0.2s ease-in-out;
  transition-delay: 0.2s;
  transition: filter 0.2s 0s ease-in-out;
  cursor: pointer;
  z-index: 2;
}
#chk-1:hover ~ .more-info-icon {
  filter: brightness(75%);
}
.card:hover > .more-info-icon {
  opacity: 1;
}
.card input {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 10%;
  height: 10%;
  opacity: 0;
  z-index: 3;
  cursor: pointer;
}
.more-info-menu {
  width: 100%;
  margin: 0px auto;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.2s ease-in-out;
  background-color: #19191999;
  color: #e8e8e8;
  display: none;
  text-align: left;
  padding: 10%;
}
.more-info-menu p {
  font-size: 18px;
  margin: 6px;
}
.more-info-menu p span {
  color: transparent;
  background: linear-gradient(to right, #fc6c67, #ff7433);
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 20px;
  font-weight: bolder;
}
.more-info-icon + .more-info-menu {
  display: flex;
}
#chk-1:checked ~ .more-info-menu {
  opacity: 1;
  z-index: 1;
}
#chk-1:checked ~ .member-pic {
  filter: blur(2px);
}

.member-pic {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  align-self: start;
  position: absolute;
  bottom: 0;
}
#m-3 {
  width: 100%;
  height: 90%;
}
.member-name {
  color: #e8e8e8;
  font-weight: bolder;
  font-size: 24px;
  background-color: #191919;
  padding: 8px;
  opacity: 0;
  transition: 0.1s ease-in-out;
  transition-delay: 0.2s;
}
.card-mask:hover > .member-name {
  opacity: 1;
}
.member-position {
  color: #191919;
  font-size: 18px;
  background-color: #e8e8e8;
  padding: 8px;
  margin: 8px 0px;
  transition: 0.1s ease-in-out;
  transition-delay: 0.3s;
  opacity: 0;
}
.card-mask:hover > .member-position {
  opacity: 1;
}
.company-info-sect {
  width: 100%;
  min-height: 20vh;
  padding-top: 2.5%;
}
.company-info-container {
  width: 90%;
  min-height: 20vh;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #191919;
  box-shadow: 0 20px 30px -15px rgba(0, 0, 0, 0.5),
    0 40px 40px -20px rgba(0, 0, 0, 0.4), 0 70px 50px -30px rgba(0, 0, 0, 0.3),
    0 40px 60px -5px #19191977;
  transform-origin: center;
  color: #e8e8e8;
  padding: 2.5%;
  border-radius: 20px;
}
.company-info-container h1 {
  font-weight: bolder;
  font-size: 32px;
  margin: 18px 0px 24px 0px;
  color: transparent;
  background: linear-gradient(to right, #fc6c67, #ff7433);
  background-clip: text;
  -webkit-background-clip: text;
  border: 0px;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, #fc6c67, #ff7433);
  border-image-slice: 1;
  padding-bottom: 6px;
  border-radius: 10px;
  width: 85%;
  text-align: center;
  font-size: 32px;
}
.company-info-container p {
  margin-bottom: 16px;
}
footer {
  width: 100%;
  height: 15vh;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e811;
}
footer p {
  color: #e8e8e8;
  font-size: 18px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #191919;
}

*::-webkit-scrollbar {
  background-color: #f5f5f5;
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #fc6c67, #ff7433);
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #fc6c67, #ff7433);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in-low {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.15;
  }
}

@media only screen and (max-width: 1024px) and (min-height: 1200px) {
  .nav-link {
    font-size: 32px;
    border-bottom: 2px solid #e8e8e8;
  }
  #hambrguer-icon {
    width: 60px;
  }
  #chk-2 {
    width: 60px;
    height: 60px;
  }
  .hambrguer-menu {
    width: 60%;
  }
}
@media only screen and (max-width: 1275px) {
  #m-alessia {
    grid-column: 1/3;
    grid-row: auto;
  }
}
@media only screen and (max-width: 1024px) {
  nav {
    height: 12.5vh;
  }
  nav ul {
    display: none;
  }
  .nav-link {
    border-bottom: 2px solid #e8e8e8;
  }
  #hambrguer-icon {
    display: block;
  }
  #chk-2 {
    display: block;
  }
  .hambrguer-menu {
    display: block;
  }
  .company-info-container h1 {
    font-size: 40px;
  }
  .company-info-container {
    font-size: 28px;
  }
  footer p {
    font-size: 22px;
  }
  .member-name {
    font-size: 32px;
  }
  .member-position {
    font-size: 24px;
  }
  .card {
    width: 300px;
    height: 350px;
  }
  .more-info-menu p {
    font-size: 24px;
  }
  .more-info-menu p span {
    font-size: 26px;
  }
}
@media only screen and (max-width: 900px) and (min-height: 900px) {
  .nav-link {
    font-size: 24px;
  }
  #hambrguer-icon {
    top: 33.3%;
    width: 40px;
  }
  #chk-2 {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 760px) {
  footer p {
    font-size: 18px;
  }
  #m-alessia {
    grid-column: auto;
    grid-row: auto;
  }
  .company-info-container h1 {
    font-size: 32px;
  }
  .company-info-container {
    font-size: 22px;
  }
}
@media only screen and (max-width: 600px) {
  #chk-2 {
    display: block;
    width: 30px;
    height: 30px;
  }
  #hambrguer-icon {
    width: 30px;
  }
  .card {
    width: 150px;
    height: 250px;
  }
  .member-name {
    font-size: 20px;
  }
  .member-position {
    font-size: 18px;
  }
  #logo {
    width: 125px;
    margin-left: 5%;
  }
  .sect-header {
    font-size: 20px;
  }
  footer p {
    font-size: 14px;
  }
  .card {
    width: 250px;
    height: 300px;
  }
  .more-info-menu p {
    font-size: 18px;
    margin: 4px;
  }
  .more-info-menu p span {
    font-size: 16px;
  }
  nav {
    width: 100%;
    left: 0;
  }
  .company-info-container h1 {
    font-size: 24px;
  }
  .company-info-container p {
    font-size: 16px;
  }
  .nav-link {
    border-bottom: 2px solid #e8e8e8;
    font-size: 18px;
  }
}
